@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce{
     from {transform: scale(0);}
     50%  {transform: scale(1.1);}
     to   {transform: scale(1);}
}

// $particles: 100;
// $width: 500;
// $height: 500;

// $box-shadow: ();
// $box-shadow2: ();
// @for $i from 0 through $particles {
//   $box-shadow: $box-shadow,
//                random($width)-$width / 2 + px
//                random($height)-$height / 1.2 + px
//                hsl(random(360), 100, 50);
//   $box-shadow2: $box-shadow2, 10000 10000 #fff
// }
// @mixin keyframes ($animationName) {
//     @-webkit-keyframes #{$animationName} {
//         @content;
//     }

//     @-moz-keyframes #{$animationName} {
//         @content;
//     }

//     @-o-keyframes #{$animationName} {
//         @content;
//     }

//     @-ms-keyframes #{$animationName} {
//         @content;
//     }

//     @keyframes #{$animationName} {
//         @content;
//     }
// }

// @mixin animation-delay ($settings) {
//     -moz-animation-delay: $settings;
//     -webkit-animation-delay: $settings;
//     -o-animation-delay: $settings;
//     -ms-animation-delay: $settings;
//     animation-delay: $settings;
// }

// @mixin animation-duration ($settings) {
//     -moz-animation-duration: $settings;
//     -webkit-animation-duration: $settings;
//     -o-animation-duration: $settings;
//     -ms-animation-duration: $settings;
//     animation-duration: $settings;
// }

// @mixin animation ($settings) {
//     -moz-animation: $settings;
//     -webkit-animation: $settings;
//     -o-animation: $settings;
//     -ms-animation: $settings;
//     animation: $settings;
// }

// @mixin transform ($settings) {
//     transform: $settings;
//     -moz-transform: $settings;
//     -webkit-transform: $settings;
//     -o-transform: $settings;
//     -ms-transform: $settings;
// }

// body {
//   margin:0;
//   padding:0;
//   background: #000;
// }

// .pyro > .before, .pyro > .after {
//   position: absolute;
//   width: 5px;
//   height: 5px;
//   border-radius: 50%;
//   box-shadow: $box-shadow2;
//   @include animation((1s bang ease-out backwards, 1s gravity ease-in backwards, 5s position linear backwards));
// }
    
// .pyro > .after {
//   @include animation-delay((1.25s, 1.25s, 1.25s));
//   @include animation-duration((1.25s, 1.25s, 6.25s));
// }
        
// @include keyframes(bang) {
//   to {
//     box-shadow:$box-shadow;
//   }
// }
    
// @include keyframes(gravity)  {
//   to {
//     @include transform(translateY(200px));
//     opacity: 0;
//   }
// }
    
// @include keyframes(position) {
//   0%, 19.9% {
//     margin-top: 10%;
//     margin-left: 40%;
//   }
//   20%, 39.9% {
//     margin-top: 40%;
//     margin-left: 30%;
//   }
//   40%, 59.9% {  
//     margin-top: 20%;
//     margin-left: 70%
//   }
//   60%, 79.9% {  
//     margin-top: 30%;
//     margin-left: 20%;
//   }
//   80%, 99.9% {  
//     margin-top: 30%;
//     margin-left: 80%;
//   }
// }

@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: max(var(--finalSize), 300px); opacity: 0; }
}

/* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
 */
.firework,
.firework::before,
.firework::after
{
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.4vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2.5s infinite;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    /*
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
    */
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    
    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    
    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    
    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    
    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -20%;
/*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -20%;
/*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 40vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;  
  --finalSize: 40vmin;
  left: 30%;
  top: 40%;
  animation-delay: -0.25s;

}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 40%;
  animation-delay: -0.4s;
}
